<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_HOME_APP_SEARCH_DATA" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFGApp"
        tools:targetApi="31" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDktcqL8sqYJd0kKHkm0EVyD6xTt_KN5XA"/>
        <activity
            android:name=".EarthActivity"
            android:exported="false"
            android:parentActivityName=".PlanetsSelector"/>
        <activity
            android:name=".ReportBugActivity"
            android:exported="false" />
        <activity
            android:name=".QueryActivity"
            android:exported="false"
            android:label="@string/title_activity_query"
            android:theme="@style/Theme.TFGApp.NoActionBar" />
        <activity
            android:name=".GamesSelectorActivity"
            android:exported="false"
            android:label="@string/title_activity_games_selector"
            android:theme="@style/Theme.TFGApp.NoActionBar" />
        <activity
            android:name=".ConfigurationActivity"
            android:exported="false"
            android:label="@string/title_activity_configuration"
            android:parentActivityName=".OthersActivity" />
        <activity
            android:name=".MarsActivity"
            android:exported="false"
            android:label="@string/title_activity_mars"
            android:parentActivityName=".PlanetsSelector" />
        <activity
            android:name=".Satellites"
            android:exported="false"
            android:theme="@style/Theme.TFGApp.NoActionBar" />
        <activity
            android:name=".PlanetsSelector"
            android:exported="false"
            android:theme="@style/Theme.TFGApp.NoActionBar" />
        <activity
            android:name=".LoadActivity"
            android:exported="true"
            android:theme="@style/Theme.TFGApp.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OthersActivity"
            android:exported="false"
            android:theme="@style/Theme.TFGApp.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TFGApp.NoActionBar" />
    </application>

</manifest>